body {
    
  background-image: url("https://assets.nst.com.my/images/articles/mhead10.jpg_1511758406.jpg");
  background-size: cover;
  
}

.container {
  background-color: beige
}

#title {
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
  
}
  #cuisine-label {
  margin-bottom: 40px;
  margin-right: 
}

#description {
text-align: center;
font-size: 2em;
margin-top: 30px;
}
 